/* especificação de variáveis padrão para cores 
contribuição : marcoslanzoni@gmail.com */

:root {
  --color_container_padrao: #1f598b;
  --color_branco_padrao: white;
  --color_hover_padrao: #ffde58;
  --color_backgroud_verde: #43c554;
  --color_backgroud_hover_verde: #369443;
  --color_texto_black: black;
}

/* Estilo Geral */
@font-face {
  font-family: 'Coolvetica';
  src: url(../fonts/coolvetica-rg.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Coolvetica';
}

html {
  scroll-behavior: smooth;
}

/* Estilo Header */
header {
  padding-top: 20px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.container-navg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 1100px;
  width: 100%;
}

.container-navg picture {
  display: flex;
}

.container-navg img {
  width: 200px;
  object-fit: contain;
}

.navg-menu {
  display: flex;
  align-items: center;
}

.navg-menu-responsivo {
  display: none;
}

.container-navg a {
  padding: 10px 15px;
  font-size: 20px;
  transition: 0.3s;
  color: var(--color_container_padrao);
}

.container-navg a:hover {
  background-color: var(--color_container_padrao);
  color: var(--color_branco_padrao);
  border: none;
  transition: 0.3s;
}

.container-banner {
  background-image: url(../assets/auto-mechanic-esmaecido.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  background-color: var(--color_container_padrao);
  padding: 100px 75px;
  color: var(--color_branco_padrao);
  display: flex;
  justify-content: center;
}

.container-banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  text-shadow: 4px 5px var(--color_texto_black);
}

.container-banner h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  text-shadow: 2px 3px var(--color_texto_black);
}

.container-banner a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 15px 25px;
  background-color: var(--color_backgroud_verde);
  color: var(--color_branco_padrao);
  border-radius: 10px;
  text-align: center;
}

.container-banner a:hover {
  background-color: var(--color_backgroud_hover_verde);
  transition: 0.5s;
}

.container-banner span {
  color: var(--color_branco_padrao);
  font-size: 15px;
  background-color: initial;
}

.container-banner svg {
  margin-left: 15px;
  fill: var(--color_branco_padrao);
  background-color: initial;
}

.miolo-banner {
  max-width: 1100px;
  width: 100%;
}

/* Estilo Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  max-width: 1100px;
  width: 100%;
}

.container-conteudo h3 {
  text-align: center;
  font-size: 30px;
  color: var(--color_container_padrao);
}

/* Est
